@import url("https://orcaui.netlify.app/styles/main.css");
:root{
  --white: white;
  --dark-mode-color:#1A202C;
}

.main-content{
  height: calc(100vh - 6.6rem);
  color: var(--white);
  overflow-y: auto;
  margin-left: 25vw;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: calc(100vw - 25vw);
}
.app-navigation{
  top: 0;
}

*{
  color: black;
  /* background-color: var(--dark-mode-color); */
  
}
.notes-container{
  max-width: calc(100vw - 28rem);
  word-wrap: break-word;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem;
}
.savednote-container{
  border: 2px solid black;
  padding: 2rem;
  height: max-content;
  word-wrap: break-word;
  max-width: max-content;
  min-width: 20rem;
  border-radius: 1rem;
  box-shadow: 3px 4px 15px -3px rgba(0,0,0,1)
}